@using System.Collections.Generic

<PageTitle>PhotoLife: New Profile</PageTitle>

<div class="text-center">
    @* Title and Description *@
    <div class="text-center my-2" style="margin: 0 4em">
        <h1>New Profile Generated!</h1>
        <h5>Below are the insights that our algorithm gathered from the photos you provided. Here are the stats you chose:</h5>
    </div>

    @* Headers With Profile Data! *@
    <div style="margin: 2.2em 0;">
        @if (TimeOfDayHeader)
        {
            <div style="margin-bottom: 2em;">
                <h3>Your photos were most likely taken in the:</h3>
                <h5 style="color: #c24aff;"><b>@TimeOfDay</b></h5>
            </div>
        }

        @if (WeekDayHeader)
        {
            <div style="margin-bottom: 2em;">
                <h3>The day of the week that your photos were probably taken on:</h3>
                <h5 style="color: #c24aff;"><b>@WeekDay</b></h5>
            </div>
        }

        @if (GPSHeader)
        {
            <div style="margin-bottom: 2em;">
                <h3>You spend a lot of time in:</h3>
                <h5 style="color: #c24aff;"><b>@GPS</b></h5>
            </div>
        }

        @if (CameraModelHeader)
        {
            <div style="margin-bottom: 2em;">
                <h3>Most used Camera Model:</h3>
                <h5 style="color: #c24aff;"><b>@CameraModel</b></h5>
            </div>
        }
        @if (BrightnessHeader)
        {
            <div style="margin-bottom: 2em;">
                <h3>Most common Brightness Mode:</h3>
                <h5 style="color: #c24aff;"><b>@Brightness</b></h5>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public List<string> Headers { get; set; }
    [Parameter] public object ProfileData { get; set; }

    private Boolean TimeOfDayHeader = false,
                    WeekDayHeader = false,
                    GPSHeader = false,
                    CameraModelHeader = false,
                    BrightnessHeader = false,
                    PhotoFrequencyHeader = false;
    private string TimeOfDay = "",
                    WeekDay = "",
                    GPS = "",
                    CameraModel = "",
                    Brightness = "",
                    PhotoFrequency = "";

    // set the headers that were chosen from the presets
    private void SetProfileData()
    {
        foreach (string preset in Headers)
        {
            if (preset == "Time Of Day")
            {
                TimeOfDayHeader = true;
                //TimeOfDay = ProfileData.AveTime;
            }
            else if (preset == "Week Day")
            {
                WeekDayHeader = true;
                //WeekDay = ProfileData.Weekday;
            }
            else if (preset == "GPS")
            {
                GPSHeader = true;
                //GPS = ProfileData.GpsCords;
            }
            else if (preset == "Camera Model")
            {
                CameraModelHeader = true;
                //CameraModel = ProfileData.CameraModel;
            }
            else if (preset == "Brightness")
            {
                BrightnessHeader = true;
                //Brightness = ProfileData.AveBrightness;
            }
            /*else if ()
            {
                PhotoFrequencyHeader = true;
                PhotoFrequency = ProfileData.PhotoTakingFreq();
            }*/
        }
    }

    // Setup all the headers and data
    protected override void OnInitialized()
    {
        SetProfileData();
    }
}